@model IEnumerable<HousekeeperManager.ViewModels.Missions.MissionClientIndexVM>

<h1>Моите задачи</h1>
<p>
    <a asp-action="MissionCreate" class="btn btn-primary">Добави задача</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayNameFor(model => model.TimeLimit)</td>
            <td>@Html.DisplayNameFor(model => model.Budget)</td>
            <td>@Html.DisplayNameFor(model => model.Category)</td>
            <td>@Html.DisplayNameFor(model => model.Location)</td>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                <a asp-action="MissionDetails" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="MissionDelete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
        }
    </tbody>
</table>